<%- include('../partials/header') %>

  <section id="dreamPage">
    <% dreams.forEach(function(d) { %>
      <%= d.date %>
        <%= d.dreamScale %>
          <br>
          <%= d.content %>
            <button id="add-a-note">Notate</button>
            <% }) %>
  </section>

  <%- include('../partials/footer') %>