<%- include('../partials/header') %>

  <section id="user-profile-page">
    <div>
      <!-- <%= user.birthday %> -->
    </div>
    <div>
      <img id="avatar" src="<%= user.avatar %>" referrerpolicy="no-referrer">
    </div>
    <div>

    </div>
    <div>
      <%= user.name %>
    </div>

  </section>
  <h2>DREAMS:</h2>

  <table>
    <thead>
      <tr>
        <th>Content</th>
        <th>Date</th>
        <th>Scale</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- Yep, we can define variables! -->
      <tr>
        <td>


          <button type="submit">X</button>
          </form>

        </td>
      </tr>

      <!-- Add a row to display the avg AFTER the forEach iteration  -->

    </tbody>
  </table>

  <h5>No Dreams Yet</h5>



  <%- include('../partials/footer') %>