<%- include('../partials/header') %>

  <section id="user-profile-page">
    <div>
      <!-- <%= user.birthday %> -->
    </div>
    <div>
      <img class="avatar" src="<%= user.avatar %>" referrerpolicy="no-referrer">
    </div>
    <div>

    </div>
    <div class="name">
      <%= user.name %>
    </div>

  </section>
  <h2 id="profileDreams">DREAMS:</h2>

  <table class="dreamsTable">
    <thead>
      <tr>
        <th>Content</th>
        <th>Date</th>
        <th>Scale</th>
        <th>Delete</th>
      </tr>
    </thead>
    <div>
      <tbody>
        <% user.dreams.forEach(function(d) { %>
          <tr>
            <a href="/dreams/<%= d._id %>?method=GET">
              <td>
                <%= d.content %>
              </td>
              <td>
                <%= d.date %>
              </td>
              <td>
                <%= d.scale %>
              </td>
            </a>
            <td>
              <form action="/dreams/<%= d._id %>?_method=DELETE" method="POST"><button type="submit">X</button></form>
            </td>
          </tr>


          <% }) %>
            <!-- Add a row to display the avg AFTER the forEach iteration  -->

      </tbody>
    </div>
  </table>

  <h5>No Dreams Yet</h5>



  <%- include('../partials/footer') %>