<%- include('../partials/header') %>

  <section id="user-profile-page">
    <div class="profileHeader">
      <div>
        <!-- <%= user.birthday %> -->
      </div>
      <div>
        <img class="avatar" src="<%= user.avatar %>" referrerpolicy="no-referrer">
      </div>
      <div>

      </div>
    </div>
    <div class="name">
      <%= user.name %>
    </div>
  </section>
  <div id="profileDreams">
    <h2>DREAMS:</h2>
    <div></div>
  </div>
  <table class="dreamsTable">
    <tbody>
      <tr>
        <th>Details</th>
        <th>Content</th>
        <th>Date</th>
        <th>Scale</th>
        <th>Delete</th>
      </tr>
      <% user.dreams.forEach(function(d) { %>
        <tr class="contentDream">
          <form action="/dreams/details/<%= d._id %>" method="GET">
            <td><button type="submit">VIEW</button></td>
          </form>
          <div>
            <td>
              <%= d.content %>
            </td>
          </div>
          <td>
            <%= d.date %>
          </td>
          <td>
            <%= d.scale %>
          </td>
          <td>
            <form action="/dreams/<%= d._id %>?_method=DELETE" method="POST"><button type="submit">X</button></form>
          </td>
        </tr>


        <% }) %>
          <!-- Add a row to display the avg AFTER the forEach iteration  -->

    </tbody>
  </table>



  <%- include('../partials/footer') %>