<%- include('../partials/header') %>

  <section id="dreamPage">
    <div class="dreamLayout">
      <div class="showHeader">

        <%= dream.date %>
          ||
          <%= dream.scale %>

      </div>
      <br>
      <div>
        <%= dream.content %>
      </div>
      <br>
      <% dream.notes.forEach(function(d) { %>
        <tr>
          <td>
            <%= d.content %>
          </td>
          <% }) %>
            <td>
              <form action="/notes/details/<%= dream._id %>?_method=DELETE" method="POST"><button
                  type="submit">X</button></form>
            </td>
            <form method="POST" action="/notes/details/<%= dream._id %>">
              <input name="content" id="noteInput" type="text"><button>Notate</button>
            </form>
        </tr>
    </div>
  </section>

  <%- include('../partials/footer') %>